body {
  display: flex;
  justify-content: center;
  background-image: url("assets/background-org.png");
  background-size: cover;
}
#info {
  display: flex;
  justify-content: space-evenly;
}
#end-screen.hidden {
  display: none;
}
#game-screen.hidden {
  display: none;
}
#end-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#end-screen h1 {
  font-size: 80px;
}
#end-screen h2 {
  font-size: 50px;
  margin-top: -30px;
}
#end-screen h3 {
  font-size: 30px;
  margin-top: -20px;
  padding-bottom: 20px;
}
#again {
  width: 300px;
  padding: 20px;
  font-size: 30px;
  border: 2px solid #595959;
  border-radius: 10px;
  background-color: limegreen;
}
#start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
#start-screen h1 {
  font-size: 60px;
}
#start {
  width: 200px;
  padding: 20px;
  font-size: 30px;
  border: 2px solid #595959;
  border-radius: 10px;
  background-color: limegreen;
}
#start-screen h3 {
  padding-bottom: 20px;
  font-size: 25px;
}
#start-screen.hidden {
  display: none;
}
