body {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  background-image: url("assets/background.png");
  background-size: cover;
  padding: 50px 0px 20px 0px;
}
#info {
  padding-left: 50px;
}
