@font-face {
  font-family: arcade;
  src: url(ARCADE.TTF);
}
body {
  display: flex;
  justify-content: center;
  background-image: url("assets/background-org.png");
  background-size: cover;
  font-family: arcade;
}
#info {
  display: flex;
  justify-content: space-evenly;
}
#end-screen.hidden {
  display: none;
}
#game-screen {
  cursor: none;
}
#game-screen.hidden {
  display: none;
}
#end-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#end-screen h1 {
  font-size: 80px;
  text-shadow: 3px 3px #33ff57;
}
#end-screen h2 {
  font-size: 50px;
  margin-top: -30px;
}
#end-screen h3 {
  font-size: 30px;
  margin-top: -20px;
  padding-bottom: 20px;
}
#again {
  padding: 20px 30px 15px 30px;
  font-size: 50px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #33ff57;
  font-family: arcade;
  cursor: pointer;
}
#start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
#start-screen h1 {
  font-size: 60px;
  text-shadow: 3px 3px #33ff57;
}
#start {
  padding: 20px 30px 15px 30px;
  font-size: 50px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #33ff57;
  font-family: arcade;
  cursor: pointer;
}
#start-screen h3 {
  padding-bottom: 20px;
  font-size: 25px;
}
#start-screen.hidden {
  display: none;
}
.blinking {
  animation: blinkingText 1.2s infinite;
}
@keyframes blinkingText {
  0% {
    color: #000;
  }
  50% {
    color: #000;
  }
  60% {
    color: transparent;
  }
  90% {
    color: transparent;
  }
  100% {
    color: #000;
  }
}
